
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <h3 class="w3-bar-item">Menüler</h3>
        <a href="/Admin/Index/" class="w3-bar-item w3-button">Bloglar</a>
        <a href="/Admin/YorumListesi/" class="w3-bar-item w3-button">Yorumlar</a>
        <a href="/Admin/iletisimListesi/" class="w3-bar-item w3-button">İletişim</a>
        <a href="/Default/Index/" class="w3-bar-item w3-button">Siteye Git</a>
        <a href="/Login/LogOut/" class="w3-bar-item w3-button">Çıkış Yap</a>
    </div>

    <div class="w3-main" style="margin-left:200px">
        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h4>Admin Yönetim Panaeli</h4>
            </div>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

</body>
</html>
