@using TravelTripProject.Models.Siniflar
@model List<Blog>

<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <a href="/Blog/BlogDetay/@x.ID"><img src="@x.BlogImage" alt="" style="width:120px; height:65px;" /></a>
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0,80)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("Partial4","Default")
</div>